<mat-card *ngFor="let product of products" class="product-card">
  <mat-card-title-group class="card-title">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle
      >R$
      {{
        product.unitValue.toLocaleString("pt-BR", {
          style: "currency",
          currency: "BRL"
        })
      }}</mat-card-subtitle
    >
    <img
      mat-card-xl-image
      src="{{ product.urlImage }}"
      alt="{{ product.name }}"
    />
  </mat-card-title-group>
  <mat-card-content
    class="card-description"
    title="{{ product.description }}"
    aria-label="Descricão"
  >
    {{ product.description }}
  </mat-card-content>
  <div class="buttons-card">
    <button
      mat-icon-button
      color="secondary"
      aria-label="Editar"
      (click)="onEdit(product)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      aria-label="Remover"
      (click)="onDelete(product)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
