.product-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.card-title {
  display: flex;
  flex-direction: column;
}

.card-description {
  border: 1px solid #f8f6f4e1;
  background-color: #f8f6f4e1;
  border-radius: 3px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13rem;
  height: 4rem;
  max-height: 4rem;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.tag {
  color: blue;
  font-size: xx-small;
  font-style: italic;
}

.buttons-card {
  align-self: flex-end;
}
