<ng-container class="products">
  <mat-card class="product-card skeleton-card" *ngFor="let product of products">
    <mat-card-title-group class="card-title">
      <div class="skeleton skeleton-title"></div>
      <div class="skeleton skeleton-subtitle"></div>
      <div class="skeleton skeleton-image"></div>
    </mat-card-title-group>
    <mat-card-content>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
    </mat-card-content>
    <div class="buttons-card">
      <div class="skeleton skeleton-button"></div>
      <div class="skeleton skeleton-button"></div>
    </div>
  </mat-card>
</ng-container>
