<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Cadastrar produto</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput #name formControlName="name" />
        <mat-hint style="align-items: end">
          {{ name.value.length || 0 }} / 100
        </mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">
          {{ getErrorMassage("name") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Descrição</mat-label>
        <input matInput #description formControlName="description" />
        <mat-hint style="align-items: end">
          {{ description.value.length || 0 }} / 255
        </mat-hint>
        <mat-error *ngIf="form.get('description')?.invalid">
          {{ getErrorMassage("description") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>URL da Imagem</mat-label>
        <input matInput #urlImage formControlName="urlImage" />
        <mat-error *ngIf="form.get('urlImage')?.invalid">
          {{ getErrorMassage("urlImage") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Valor Unitário</mat-label>
        <input
          matInput
          #unitValue
          type="number"
          formControlName="unitValue"
          required="unitValue.value === 0"
        />
        <mat-error *ngIf="form.get('unitValue')?.invalid">
          {{ getErrorMassage("unitValue") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipTags aria-label="Tags">
          @for (tag of tags(); track $index) {
          <mat-chip-row (removed)="remove(tag)">
            {{ tag.name }}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          #tagInput
          matInput
          name="currentTag"
          placeholder="Adicionar uma tag..."
          formControlName="currentTag"
          [matChipInputFor]="chipTags"
          [matAutocomplete]="auto"
        />
        <mat-error *ngIf="form.get('tags')?.invalid">
          {{ getErrorMassage("currentTag") }}
        </mat-error>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option *ngFor="let tag of filteredTags() | async" [value]="tag">
            {{ tag.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Limpar</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      type="submit"
      [disabled]="form.invalid"
    >
      Cadastrar
    </button>
  </mat-card-actions>
</mat-card>
